<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <center><h1>Welcome To Your Session.</h1></center>
    <form action="">
        <div>
            <label for="title">Todo</label>
            <input type="text" name="title" placeholder="Enter Your ToDo.......">
        </div>
    </form>
    <a href="{{url_for('logout')}}">Pess here to logout</a>
</body>
</html>